.UsersListBlock {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  text-align: center;
}

.UserList {
  height: 950px;
  overflow-y: scroll;
}

.pagination {
  display: flex;
  justify-content: center;
  position: relative;
}